@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 95%;
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;

}
td , th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #11101D;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #adadad;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 300px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody,td, tr { 
		display: block; 
	}
    th { 
		display: none; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "DAY:"; }
	td:nth-of-type(2):before { content: "Lesson 1"; }
	td:nth-of-type(3):before { content: "Lesson 2"; }
	td:nth-of-type(4):before { content: "Lesson 3"; }
	td:nth-of-type(5):before { content: "Lesson 4"; }
	td:nth-of-type(6):before { content: "Lesson 5"; }
	td:nth-of-type(7):before { content: "Lesson 6"; }
	td:nth-of-type(8):before { content: "Lesson 7"; }
}